@font-face {
  font-family: "FoxCavalier";
  src: url("../assets/FoxCavalier.woff2") format("woff2"),
    url("../assets/FoxCavalier.woff") format("woff"),
    url("../assets/FoxCavalier.ttf") format("truetype");
}

.standard-shadow {
  -webkit-box-shadow: 0px 4px 12px -4px rgba(92, 92, 92, 1);
  -moz-box-shadow: 0px 4px 12px -4px rgba(92, 92, 92, 1);
  box-shadow: 0px 4px 12px -4px rgba(92, 92, 92, 1);
}

.standard-holder {
  z-index: 11;
  background-color: transparent;
  font-family: "FoxCavalier";
  @media (max-width: 714px) {
    font-size: 0.8rem;
  }
}
.name-section {
  height: 100%;
  width: 100%;
  position: relative;
  .starfield-holder {
    z-index: -1;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
  }
  .name-holder {
    text-overflow: wrap;
    z-index: 10;
    display: inline-block;
    font-family: "FoxCavalier";
    font-size: 12rem;
    position: relative;
    color: #fff;
    margin-bottom: -180px;
    @media (max-width: 1380px) {
      font-size: 10rem;
      margin-bottom: -130px;
    }
    @media (max-width: 1220px) {
      font-size: 9rem;
      margin-bottom: -125px;
    }
    @media (max-width: 1072px) {
      font-size: 8rem;
      margin-bottom: -105px;
    }
    @media (max-width: 954px) {
      font-size: 7rem;
      margin-bottom: -90px;
    }
    @media (max-width: 842px) {
      font-size: 6rem;
      margin-bottom: -70px;
    }
    @media (max-width: 713.99px) {
      font-size: 5rem;
      margin-bottom: -45px;
    }
    @media (max-width: 592px) {
      font-size: 4rem;
      margin-bottom: -30px;

    }
    @media (max-width: 472px) {
      font-size: 3rem;
      margin-bottom: -10px;
    }
    @media (max-width: 360px) {
      font-size: 2.5rem;
      margin-bottom: 0px;
    }
    .knockout {
      display: inline-block;
      overflow: hidden;
      text-align: left;
      position: relative;
      color: transparent;
      border: 0.5em solid #FFF;
      white-space: nowrap;
      .knockout__svg {
        fill: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  .control-section {
    z-index: 10;
    .slider-holder {
      z-index: 11;
      background-color: #fff;
      padding: 10px 20px;
      border-radius: 10px;
      font-family: "FoxCavalier";
      @media (max-width: 714px) {
        padding: 5px 10px;
        border-radius: 6px;
        #continuous-slider {
          font-size: 0.8rem;
        }
      }
      #continuous-slider {
        font-family: "FoxCavalier";
      }
      .slider-icon-left {
        margin-right: 20px;
      }
      .slider-icon-right {
        margin-left: 20px;
      }
      .warp-slider {
        width: 250px;
        @media (max-width: 714px) {
          width: 180px;
        }
      }
    }
    .coming-soon {
      font-size: 1.2rem;
    }
    .social-btn {
      height: 50px;
      width: 50px;
      color: #3f51b5;
      font-size: 1.5rem;
      background-color: #fff;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translateY(-3.5px);
        -webkit-box-shadow: 0px 7.5px 14px -4px rgba(143, 141, 143, 1);
        -moz-box-shadow: 0px 7.5px 14px -4px rgba(143, 141, 143, 1);
        box-shadow: 0px 7.5px 14px -4px rgba(143, 141, 143, 1);
      }
    }
  }
}
